### Feature Selection - Dropping Constant Feature

 feature selector that remove all the low-variance feature
 
 This feature selection algorithm looks only at the feature(X), not the desired output(y), and can thus be used for unsupervised learning.

In [3]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [4]:
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [5]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

In [6]:
# zero variance features

var = VarianceThreshold(threshold=0)
var.fit(data)

VarianceThreshold(threshold=0)

In [7]:
var.get_support()

array([ True,  True, False, False])

In [8]:
data.columns[var.get_support()]

Index(['A', 'B'], dtype='object')

In [10]:
constant_columns = [column for column in data.columns
                    if column not in data.columns[var.get_support()]]

print(len(constant_columns))

2

In [11]:
for feature in constant_columns:
     print(feature)

C
D

In [12]:
data.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9